<h2>Orbital Elements</h2>
<table>
  <tr>
    <td>Eccentricity</td>
    <td><%= orbital_data.eccentricity %></td>
  </tr>
  <tr>
    <td>Semi-major Axis (AU)</td>
    <td><%= orbital_data.semi_major_axis %></td>
  </tr>
  <tr>
    <td>Inclination (deg)</td>
    <td><%= orbital_data.inclination %></td>
  </tr>
  <tr>
    <td>Longitude of the Ascending Node (deg)</td>
    <td><%= orbital_data.ascending_node_longitude %></td>
  </tr>
  <tr>
    <td>Argument of Perihelion</td>
    <td><%= orbital_data.perihelion_argument %></td>
  </tr>
  <tr>
    <td>Mean Anomaly</td>
    <td><%= orbital_data.mean_anomaly %></td>
  </tr>
  <tr>
    <td>Orbital Period (days)</td>
    <td><%= orbital_data.orbital_period %></td>
  </tr>
</table>