<table class="centered">
  <tr>
    <th class="bg-primary text-white align-left">Identifier</th>
    <th class="bg-primary text-white">Is Hazardous?</th>
    <th class="bg-primary text-white">Diameter (m)</th>
    <th class="bg-primary text-white">Miss Distance (km)</th>  
  </tr>
  <% near_earth_objects.forEach( neo => {%>
    <tr>
      <td class="align-left"><a href="/neo/<%= neo.id %>"><%= neo.name %></a></td>
      <td>
        <div class="tag <%= neo.is_potentially_hazardous_asteroid ? "hazardous" : "not-hazardous" %>">
          <%= neo.is_potentially_hazardous_asteroid ? "yes" : "" %>
        </div>
      </td>
      <td class="number"><%= Math.trunc(neo.estimated_diameter.meters.estimated_diameter_max).toLocaleString() %></td>
      <td> <%= Math.trunc(neo.close_approach_data[0].miss_distance.kilometers).toLocaleString() %></td>
    </tr>
  <% }) %>
</table>