<!DOCTYPE html>
<html>

<head>
  <meta title="NEO Track - Today">
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/nav-bar.ejs') %>
  <%- include('../partials/tables/browse.ejs') %>
  <%- include('../partials/browse-pagination.ejs') %>
  <%- include('../partials/footer.ejs') %>
</body>

</html>