<!DOCTYPE html>
<html>
<head>
    <title><%= neo.name %></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1><%= neo.name %></h1>
    <table>
      <tr>
        <td>Nickname</td>
        <td><%= neo.name_limited %></td>
      </tr>
      <tr>
        <td>URL</td>
        <td><a href='<%= neo.nasa_jpl_url %>'><%= neo.nasa_jpl_url %></a></td>
      </tr>
      <tr>
        <td>Reference ID</td>
        <td><%= neo.neo_reference_id %></td>
      </tr>
      <tr>
        <td>Designation</td>
        <td><%= neo.designation %></td>
      </tr>
      <tr>
        <td>Absolute Magnitude</td>
        <td><%= neo.absolute_magnitude_h %></td>
      </tr>
      <tr>
        <td>Is Potentially Hazardous</td>
        <td><%= neo.is_potentially_hazardous_asteroid %></td>
      </tr>
      <tr>
        <td>Min Estimated Diameter (m)</td>
        <td><%= Math.round(neo.estimated_diameter.meters.estimated_diameter_min).toLocaleString() %></td>
      </tr>
      <tr>
        <td>Max Estimated Diameter (m)</td>
        <td><%= Math.round(neo.estimated_diameter.meters.estimated_diameter_max).toLocaleString() %></td>
      </tr>
    </table>

    <h2>Close Approaches</h2>
    
    <input type="date" id="startDate" value=<%= startDateString ?? "1950-01-01" %>>
    <input type="date" id="endDate" value=<%= endDateString ?? "2050-01-01" %>>
    <input type="button" id="dateButton" onclick="applyDateFilter()" value="Apply">

    <table>
      <tr>
        <th>Date</th>
        <th>Relative Velocity (km/s)</th>
        <th>Miss Distance (km)</th>
      </tr>
      <% neo.close_approach_data 
          .filter(approach => {
            let approachDate = Date.parse(approach.close_approach_date);
            let startDate = Date.parse(startDateString);
            let endDate = Date.parse(endDateString);
            return (startDate === undefined || approachDate >= startDate) &&
                   (endDate === undefined || approachDate <= endDate)
          })
          .forEach(approach => { 
      %>
      <tr>
        <td><%= approach.close_approach_date_full %></td>
        <td><%= Number(approach.relative_velocity.kilometers_per_second).toFixed(3).toLocaleString() %></td>
        <td><%= Math.trunc(Number(approach.miss_distance.kilometers)).toLocaleString() %></td>
      </tr>
      <% }) %>
    </table>

    <script type="text/javascript">
      function applyDateFilter() {
        let url = window.location.href.split('?')[0];
        let startDate = document.getElementById('startDate').value;
        let endDate = document.getElementById('endDate').value;
        let urlWithParams = `${url}?startDate=${startDate}&endDate=${endDate}`
        window.location = urlWithParams;
      }
    </script>
</body>
</html>